<link href='http://fonts.googleapis.com/css?family=Arapey' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Lato:400,300,700' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="w3.css">
<meta name="viewport" content="width=device-width, initial-scale=1">

<% provide(:title, "About") %>


<div class="top-margin">
    <div class="about" id="header-pic" style="background: url('http://i.imgur.com/DJRbShP.jpg') center / cover;">
	<div id="header-words">
		<h1>Admit Hero brings you high quality content, tailored to your tastes</h1>
	</div>
    </div>

	<div class="profile">
	    <br/>
	    <br/>
		<h2>About</h2>
		<p>Admit Hero strives to bring original, high quality content to high school students. We deliver:</p>
		<ul>
		    <li><strong>Video Interviews - </strong>offering tips from students who have already won
            scholarships and completed competitive programs</li>
            <li><strong>Profiles - </strong>of accomplished students who have exceled in extracurricular
            activities, must include high quality pictures and infographics</li>
            <li><strong>Podcast Series - </strong>on how to get into college that students follow over
            time and learn through the process through examples</li>
            <li><strong>How-to-Guides - </strong>on things like how to start an organization, non-profit
            or business, how to make a LinkedIn, etc.</li>
            <li><strong>"Best of" and List Articles - </strong>offering tips from students who have already won
            scholarships and completed competitive programs</li>
            <li><strong>Video Interviews - </strong>on things like the best scholarships, the
            best scholarship websites, top programs by unconventional categories</li>
		</ul>
		<br/>
	    <br/>
	</div>
</div>

