<% provide(:title, "Collaboration") %>


<div class="top-margin">
<div id="header-pic" style="background: url('http://i.imgur.com/c68Eb9Y.jpg') center / cover">
	<div id="header-words" style="width:100%;text-align:center">
		<h1>Let's start a conversation</h1>
	</div>
</div>

<iframe style="min-height:650px; margin-bottom:-45px" src="https://docs.google.com/forms/d/1UM3vI7ZMEz3R4oqvdRQy8Aaq9Ak3hUpurY41UFo__VI/viewform?embedded=true" width="760" height="500" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>



