<% provide(:title, "Content Intern") %>

<div class="top-margin">
<div id="header-pic" style="background: url(../assets/pencil.jpg) center / cover">
	<div id="header-words" style="width:100%;text-align:center">
		<h1>Don't just consume content, be a part of it</h1>
	</div>
</div>

<div id="description">
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec est mi, porta a nibh vitae, iaculis suscipit mi. Donec dictum quam nibh, vitae sollicitudin diam vestibulum in. Nunc condimentum elementum vehicula. Suspendisse porta, nulla vel maximus ornare, ligula quam vulputate dui, at rutrum ligula justo ut nisl. Nam rutrum augue vel arcu vulputate mollis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. In hac habitasse platea dictumst. Mauris imperdiet dictum eros vel malesuada. Sed accumsan sed leo ut laoreet. In sit amet velit at massa molestie ullamcorper. Maecenas eleifend orci eget nulla tempor tincidunt. Sed aliquet mauris in nibh gravida ultricies. Phasellus leo nunc, gravida et tempus commodo, consequat at leo. Mauris efficitur augue id dapibus bibendum.</p>
	<br>
	<p>An aperiam legimus convenire has. Albucius apeirian ne sit, unum detracto suscipiantur ut sed. Vocent iracundia ius ne. Causae verterem pri ea, ex vel persius atomorum imperdiet. In sea diam probo, error quaerendum pro te. Dico debet labitur est te, cu est sint decore tamquam.</p>
</div>

</div>