<% provide(:title, "Contact Us") %>

<div class="top-margin">
    <div class="contact"></div>
	<div class="profile">
		<br/><br/>
		<h2>Contact Us</h2>
		<p>email</p>
		<p>phone number</p>
	</div>
</div>
