<% provide(:title, "Home") %>
<link href='http://fonts.googleapis.com/css?family=Oswald:400,700,300' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400' rel='stylesheet' type='text/css'>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

<% if logged_in? %>
<p>tree</p>

<% else %>
<div class="w3-container">
    <div class="center-title">
		<h3 class="title">We're not the super hero you've been looking for, we're the Admit Hero you need.</h3>
	</div>
</div>
<% end %>