<% provide(:title, "Home") %>
<link href='http://fonts.googleapis.com/css?family=Oswald:400,700,300' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400' rel='stylesheet' type='text/css'>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!--<link rel="stylesheet" href="w3.css">-->
<meta name="viewport" content="width=device-width, initial-scale=1">

<% if logged_in? %>
<div>
	<p>Welcome to Admit Hero</p>
</div>
<p>tree</p>
<%= link_to "Basic Information", basic_info_user_path(current_user) %>



<% else %>

<div class="title">
	<div class="w3-row cover">
	<div class="w3-third"><p></p></div>
    <div class="w3-third">
		<h3 class="cent">We're not the super hero you've been looking for, we're the Admit Hero you need.</h3>
		<button type="button" class="create-button" href="#">Take me on a Journey</a>
	</div>
	<div class="w3-third"><p></p></div>
	</div>
</div>

<a name="works"></a>

<div class="w3-container example">
	<div class="heading">
		<br/><br/>
		<h2>Here's how we promise to save you</h2>
		<br/>
	</div>
</div>

<div class="w3-row w3-container wide">
    <div class="w3-half w3-container">
        <div class="words">
		<h5>Find awesome content ind awesome content </h5>
		<p>Read articles on how to win the top scholarships, get into amazing summer programs, do well on standardized tests, and much, much more.</p>
	    </div>
    </div>
    <div class="w3-half w3-container">
    	<div class="pic">
        <img class="zp" src="http://i.imgur.com/Y5KsU5w.jpg">
        </div>
    </div>
</div>

<div class="divider"></div>

<div class="w3-row w3-container wide">
	<div class="w3-half w3-container">
		<div class="pic">
        <img class="zp" src="http://i.imgur.com/i3BAM4B.jpg">
        </div>
    </div>
    <div class="w3-half w3-container">
    	<div class="words">
        <h5>Hear from successful students</h5>
		<p>Watch video interviews and read profiles of students who've already done it all. Authentic, insightful advice.</p>
		</div>
    </div>
</div>

<div class="divider"></div>

<div class="w3-row w3-container wide">
    <div class="w3-half w3-container">
    	<div class="words">
     	<h5>Get your own personalized feed</h5>
		<p>It's all about you. Based on your interests, you get a customized feed of articles, scholarships and even colleges that you might like.</p>
    	</div>
    </div>
    <div class="w3-half w3-container">
    	<div class="pic">
        <img class="zp" src="http://i.imgur.com/vrekjPt.jpg">
        </div>
    </div>
</div>

<div class="divider"></div>

<div class="w3-container example">
	<div class="heading">
		<br/><br/>
		<h2>What students are saying about Admit Hero</h2>
		<br/>
	</div>
</div>

<div class="w3-row w3-container">
    <div class="w3-third w3-container test">
        <div class="logos-testimonial">
		<img class="profile" src="http://loremflickr.com/300/300/paris,travel" />
		<div class="quote">
		<h6>Jane A.</h6>
		<q>It is a truth universally acknowledged, that a single man in possession of a good fortune, must be in want of a wife.</q>
		<br/>
		<p><br/>Awards won:</p>
		<img src="http://loremflickr.com/100/100/cats" alt="Cat photo" />	<img src="http://loremflickr.com/100/100/fashion">
		<br/><br/><br/>
	</div>	
	</div>
    </div>
    <div class="w3-third w3-container test">
        <div class="logos-testimonial">
		<img class="profile" src="http://loremflickr.com/300/300/paris,travel" />
		<div class="quote">
		<h6>Jane A.</h6>
		<q>It is a truth universally acknowledged, that a single man in possession of a good fortune, must be in want of a wife.</q>
		<br/>
		<p><br/>Awards won:</p>
		<img src="http://loremflickr.com/100/100/cats" alt="Cat photo" />	<img src="http://loremflickr.com/100/100/fashion">
		<br/><br/><br/>
    </div>
    </div>
    </div>
    <div class="w3-third w3-container test">
        <div class="logos-testimonial">
		<img class="profile" src="http://loremflickr.com/300/300/paris,travel" />
		<div class="quote">
		<h6>Jane A.</h6>
		<q>It is a truth universally acknowledged, that a single man in possession of a good fortune, must be in want of a wife.</q>
		<br/>
		<p><br/>Awards won:</p>
		<img src="http://loremflickr.com/100/100/cats" alt="Cat photo" />	<img src="http://loremflickr.com/100/100/fashion">
		<br/><br/><br/>
    </div>
    </div>
    </div>
</div>

<div>Tell me this number: 348</div>

<% end %>