<% provide(:title, "News") %>

<div style="background-image:url(http://rjtoursonline.com/wp-content/uploads/2014/07/Niagara-Falls-Vertical.jpg); background-size:cover; min-height: 550px">
<div class="news top-margin">
	<div class="heading">
		<h2>News</h2>
	</div>
	<div class="text2">
	    <p><strong>7.27.2015 - </strong>Admit Hero is currently in development</p>
	</div>
</div>
</div>