<% provide(:title, "About") %>

<div class="news top-margin">
	<div class="heading">
		<h2>News</h2>
	</div>
	<div class="text2">
	    <p><strong>7.27.2015 - </strong>Admit Hero is currently in development</p>
	</div>
</div>
