<% provide(:title, "Press") %>

<div class="top-margin">
<div id="header-pic" style="background: url(../assets/pencil.jpg) center / cover">
	<div id="header-words" style="width:100%;text-align:center">
		<h1>The short list of what we do</h1>
	</div>
</div>

<div id="description">
<p><strong>Mission Statement: </strong>Admit Hero does X, Y, and Z.</p>
<p><strong>Standard Logo </strong>(right click and Save Image As)</p>
<p><img src="../assets/yellow_logotype256_720.png"> <img src="../assets/yellow_logotype1024"></p>
</div>

</div>