<div class="w3-container w3-quarter">
<div class="w3-sidenav" style="position:relative">


<%= link_to "Account Information", current_user %>

<%= link_to "Basic Information", basic_info_user_path %>

<%= link_to "Tags Interested", tags_user_path %>

</div>
</div>
    