<%= provide(:title , "Settings") %>

<div class="top-margin">
<h1>Settings</h1>

<div class="profile">
<div class="w3-row">
<%= render 'users/profile_side' %>

<div class="w3-container w3-half" style="margin-top:4px">
	Name: <%= @user.name %> <br>
	Email: <%= @user.email %> <br>
	Birthday: <br>
	Gender: <br>
	School: <br>
</div>	

</div>
</div>
</div>

