<%= provide(:title , "Profile") %>


<div class="top-margin">
    
<h1>Account Information</h1>
<div class="profile">

<div class="w3-row">
<%= render 'users/profile_side' %>

<div class="w3-container w3-half">
<%= @user.name %> <br>
<%= @user.email %>
</div>

</div>
</div>
</div>