<%= provide(:title , "Profile") %>


<div class="top-margin">
    
<h1>Account Information</h1>
<div class="profile">
<%= render 'users/profile_side' %>

<p>
<%= @user.name %> <br>
<%= @user.email %>
</p>

</div>
</div>