@import "bootstrap-sprockets";
@import "bootstrap";

 /* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin flex($values) {
  -webkit-box-flex: $values;
  -moz-box-flex:  $values;
  -webkit-flex:  $values;
  -ms-flex:  $values;
  flex:  $values;
}

@mixin order($val) {
  -webkit-box-ordinal-group: $val;  
  -moz-box-ordinal-group: $val;     
  -ms-flex-order: $val;     
  -webkit-order: $val;  
  order: $val;
}

/* universal */

@media (max-width: 600px), handheld {
  .title {
    font-size: 36px;
    color: white;
  }

  #mouse {

    .sign-up-form {
      width: 100vw;

      .user-text {
        width: 100vw;
      }

    }
  }
}

html {
	overflow-y: scroll;
}


section {
    overflow: auto;
}

textarea {
	resize: vertical;
}


#mouse {
  height: 500px;
  background: url('https://98dfb7d47a89c189da3b5dbdf7dde8d956b567eb.googledrive.com/host/0Bx8HaVf33b7rfnBONlFaNllPOVRvYVRXME1vMHM3VFNTMF9BWjdrZkxjTmR1WXB5Rm9CQnc/people/prince-5.jpeg') center / cover;
  height: 100vh;
  width: 100vw;

  @include flexbox();
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  -webkit-justify-content: center;
  align-content: center;
  align-items: center;
  //padding: 100px;

  .center-title {
    background-color: white;
    opacity: .70;
    width: 100vw;
    height: 12%;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;

    h1 {
      color: #1976d2;
    }
  }

  .create-button {
    border-radius: 5%;
  }

  // .sign-up-form {
  //   //background-color: white;
  //   width: 85%;
  //   align-self: flex-start;
  //   display: flex;
  //   justify-content: center;

  //   .user-text {
  //     width: 50%;
  //   }
}



#about {
  background-color: gray;
  height: 500px;
}

.example {
  background-color: white;
  @include flexbox();
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: flex-start;
  padding: 1% 15% 5% 15%;

  .heading {
    width: 100vw;
    text-align: center;
    h2 {
      font-family: 'Montserrat';
      font-weight: bold;
      color: #2196f3;
    }
  }

  .picture {
    width: 25vw;
    height: 25vh;
    padding-right: 10%;
  }

  #pic1 {
    background: url('../assets/pisa.jpg') center / cover;
  }

  #pic2 {
    background: url('../assets/bridge.jpg') center / cover;
    padding-left: 10%;
    padding-right: 0;
  }

  #pic3 {
    background: url('../assets/book.jpg') center / cover;
  }

  .text {
    flex-grow: 0;
    width: 35vw;
    height: 30vh;
    word-break: break-word;
    text-align: left;
    font-family: 'Source Sans Pro';
    font-weight: light;
    padding-left: 10%;

    h5, h6 {
      text-align: left;
      line-height: 60%;
      font-family: 'Montserrat';
    }
    h6 {
      font-weight: bold;
    }
    h5 {
      color: #1976d2;
    }
  }

  #text2 {
    padding-right: 10%;
    padding-left: 0;
  }

}

.grid {
  @include flexbox();
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-items: baseline;
  align-content: flex-start;

  .grid-cell {
    width: 50%;
    height: 300px;
    text-align: center;
    display: table;
  }

  .grid-text {
    display: table-cell;
    vertical-align: middle;
  }
  
  .cell1 {
    background: url('https://dl.dropboxusercontent.com/u/134166818/download/landscapes/monika-1.jpg') center / cover;
  }
  .cell2 {
    background: url('https://googledrive.com/host/0Bx8HaVf33b7rfnBONlFaNllPOVRvYVRXME1vMHM3VFNTMF9BWjdrZkxjTmR1WXB5Rm9CQnc/people/kulesza-61.jpg') center / cover;
  }
  .cell3 {
    background: url('https://98dfb7d47a89c189da3b5dbdf7dde8d956b567eb.googledrive.com/host/0Bx8HaVf33b7rfnBONlFaNllPOVRvYVRXME1vMHM3VFNTMF9BWjdrZkxjTmR1WXB5Rm9CQnc/technology/kadysz-30.jpg') center / cover;
  }
  .cell4 {
    background: url('https://googledrive.com/host/0Bx8HaVf33b7rfnBONlFaNllPOVRvYVRXME1vMHM3VFNTMF9BWjdrZkxjTmR1WXB5Rm9CQnc/objects/krzysztof-13.jpg') center / cover;
  }
}

.logos {
  height: 100vh;
  width: 100%;

  @include flexbox();
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: baseline;

  .logos-title {
    @include flex(1 0 100%);
    padding: 15px;
  }

  .logos-testimonial {
    @include order(1);
    @include flex(0 0 20%);

    .profile {
      border-radius: 50%;
      height: 30vh;
      width: auto;
      display: block;
      margin: auto;
    }
    h6 {
      color: #1976d2;
      text-align: center;
    }
    q {
      font-style: italic;
      font-size: 1em;
    }

  }

  .logos-text {
    color: black;
    text-transform: uppercase;
    font-weight: bold;
  }

}


/* typography */

h1, h2, h3, h4, h5, h6 { 
	line-height: 1;
}

h1 {
	font-size: 3em; 
	letter-spacing: -2px; 
	margin-bottom: 30px; 
	text-align: center;
}

h2 {
	font-size: 1.2em; 
	letter-spacing: -1px; 
	margin-bottom: 30px; 
	text-align: center; 
	font-weight: normal; 
	color: #777;
}

p {
	font-size: 1.1em; 
	line-height: 1.7em;
}

/* header */

// #logo {
//   	float: left;
//   	margin-right: 10px;
//   	font-size: 1.7em;
//   	color: #fff;
//   	text-transform: uppercase;
//   	letter-spacing: -1px;
//   	padding-top: 9px;
//   	font-weight: bold;
// 	&:hover {
//   		color: #fff;
//   		text-decoration: none;
// 	}
// }
img {
  height: 40px;
  width: auto;
}

/*footer*/

footer {
  	margin-top: 45px;
  	padding-top: 5px;
  	border-top: 1px solid #eaeaea;
  	color: #777;
  	a {
  	  	color: #555;
  	  	
  	  	&:hover {
  	    	color: #222;
  	  	}
  	}
  
  	small {
    	float: left;
  	}

  	ul {
    	float: right;
    	list-style: none;
    	
    	li {
    	  	float: left;
      		margin-left: 15px;
    	}
  	}
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}