@import "bootstrap-sprockets";
@import "bootstrap";
@import url(http://fonts.googleapis.com/css?family=Montserrat);

@font-face {
  font-family: "Nexa Light";
  src: url("../assets/nexa_free_light-webfont.ttf");
}


 /* mixins, variables, etc. */

$gray-medium-light: #eaeaea;
$small: 420px;
$large: 1200px;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin flex($values) {
  -webkit-box-flex: $values;
  -moz-box-flex:  $values;
  -webkit-flex:  $values;
  -ms-flex:  $values;
  flex:  $values;
}

@mixin order($val) {
  -webkit-box-ordinal-group: $val;  
  -moz-box-ordinal-group: $val;     
  -ms-flex-order: $val;     
  -webkit-order: $val;  
  order: $val;
}


html {
	overflow-y: scroll;
}

section {
    overflow: auto;
}

textarea {
	resize: vertical;
}

a:hover {
  text-decoration: none;
}

#mouse {
  background: url('http://i.imgur.com/jcuOIuH.jpg') center / cover;
  height: 100vh;
  width: 100%;
  padding: 5%;

  @include flexbox();
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-content: center;
  align-items: flex-start;
  //padding: 100px;

  .center-title {
    width: 30vw;
    display: flex;

    h3 {
      color: #ffffff;
      font-family: 'Nexa Light', 'Montserrat', sans-serif;
      text-align: left;
      font-size: 200%;
    }
  }

  .create-button {
    width: 35vw;
    height: 15%;
    font-size: 200%;
    background-color: #3d94f6;
    border-radius: 1em;
    border: 0.1em solid #337fed;
    display: table;
    text-align: center;
    vertical-align: middle;
    text-shadow: 0.1em 0.1em 0em #1570cd;
    color: #ffffff;
    &:hover {
      background-color: #1e62d0;
    }
    &:active {
      position: relative;
      top: 0.2em;
    }
  }
}



#about {
  background-color: gray;
  height: 500px;
}

.divider {
    border-top: 1px solid #1976d2;
    width: 75vw;
    height: 30px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
  }
  
.example {
  @include flexbox();
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: flex-start;
  padding: 3% 12% 5% 12%;

  

  .heading {
    // width: 100vw;
    text-align: center;
    // padding-bottom: -1vh;
    h2 {
      font-family: 'Montserrat', sans-serif;
      // font-weight: bold;
      color: #2196f3;
      letter-spacing: 1px;
      text-align: center;
    }
  }

  .picture {
    width: 34%;
    // height: 25vh;
    padding-bottom: 32%;
    padding-right: 13%;
  }

  #pic1 {
    background: url('http://i.imgur.com/Y5KsU5w.jpg') center / cover;
    margin-top: 4%;
  }

  #pic2 {
    background: url('http://i.imgur.com/i3BAM4B.jpg') center / cover;
    padding-left: 13%;
    padding-right: 0;
    margin-top: 4%;
  }

  #pic3 {
    background: url('http://i.imgur.com/vrekjPt.jpg') center / cover;
    margin-top: 4%;
  }

  .text {
    flex-grow: 0;
    width: 40vw;
    height: 50vh;
    word-break: break-word;
    text-align: left;
    // font-family: 'Source Sans Pro', sans-serif;
    font-weight: light;
    padding-left: 13%;

    h5, h6 {
      text-align: left;
      // line-height: 60%;
      font-family: 'Montserrat', sans-serif;
      // font-weight: bold;
    }

    h5 {
      color: #1976d2;
      font-size: 170%;
    }
  }

  #text2 {
    padding-right: 13%;
    padding-left: 0;
  }

  // #text3 {
    // margin-top: 2%;
  // }

  p {
    font-size: 120%;
    letter-spacing: 1px;
  }

}

#scholarship-logos {
  padding: 5vh 10vw;
  height: 90vh;
  @include flexbox();
  justify-content: center;
  flex-wrap: wrap;

  .scholarship-header {
    width: 100%;
    h2 {
      color: #212121;
    }
  }

  .logos-div {
    background: url('http://i.imgur.com/BVsS0MV.png') center / cover;
    width: 90%;
    height: 50vh;
  }
  // .logo-div {
  //   width: 20%;
  //   height: 20vh;
  //   //background-color: cyan;
  //   .logo-img {
  //     height: 100%;
  //     width: auto;
  //     display: block;
  //     margin: auto;
  //   }
  // }

  .logo-img {
    height: 100%;
    width: auto;
    display: block;
    margin: auto;
  }
}

.logos {
  height: auto;
  width: 100%;
  background-color: #bbdefb;

  @include flexbox();
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: baseline;

  .logos-title {
    @include flex(0 0 100%);
    padding: 5%;
    h2 {
      font-family: 'Montserrat', sans-serif;
      font-weight: normal;
      margin: 0 15%; 
    }
  }

  .logos-testimonial {
    @include order(1);
    @include flex(0 0 20%);
    @media (orientation : portrait) {
      @include flex(0 0 100%);
      padding: 5%;
    }

    .profile {
      border-radius: 50%;
      height: auto;
      width: 70%;
      display: block;
      margin: auto;
      @media (orientation : portrait) {
        width: 50%;
        height: auto;
      }
    }
    h6 {
      color: #1976d2;
      text-align: center;
    }
    q {
      font-style: italic;
      font-size: 1em;
    }

  }

  .logos-text {
    color: black;
    text-transform: uppercase;
    font-weight: bold;
  }

}

#button-div {
  @include flexbox();
  height: 30vh;
  background-color: #212121;
  a {
    display: block;
    margin: auto;
    vertical-align: middle;
    font-family: 'Montserrat', sans-serif;
    font-size: 150%;
  }
}

/* Team */
#team-page {
  margin: 0px;
}

.two {
  margin: 0px;
  padding: 0px;
}

#header-pic {
  background: url('http://i.imgur.com/vrekjPt.jpg') center / cover;
  width: 100%;
  margin-top: -30px;
  height: 70vh;
  position: relative;
  padding-top: 0%;
  #header-words {
    background-color: rgba(255,255,255,0.7);
    position: absolute;
    bottom: 0;
    h1 {
      font-family: 'Arapey', Garamond, Georgia, serif;
      color: #333;
      text-transform: capitalize;
      line-height: 0.95;
      font-size: 66px;
    }
  }
}

#description {
  padding: 3%;
  width: 100%;
  line-height: 120%;
  p {
    font-family: 'Lato', Helvetica, sans-serif;
    color: #000;
    margin: 0 auto 0 auto;
    max-width: 80vw;
    font-size: 1.1em;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 { 
	line-height: 1;
}

h1 {
	font-size: 3em; 
	letter-spacing: -2px; 
	margin-bottom: 30px; 
	text-align: center;
}

h2 {
	font-size: 1.2em; 
	letter-spacing: -1px; 
	margin-bottom: 30px; 
	text-align: left; 
	font-weight: normal; 
	color: #777;
}

p {
	font-size: 1.1em; 
	line-height: 1.7em;
}

/* header */

// #logo {
//   	float: left;
//   	margin-right: 10px;
//   	font-size: 1.7em;
//   	color: #fff;
//   	text-transform: uppercase;
//   	letter-spacing: -1px;
//   	padding-top: 9px;
//   	font-weight: bold;
// 	&:hover {
//   		color: #fff;
//   		text-decoration: none;
// 	}
// }
img {
  height: 40px;
  width: auto;
}

/*footer*/

footer {
  	margin-top: 45px;
  	padding-top: 5px;
  	border-top: 1px solid #eaeaea;
  	color: #777;
  	a {
  	  	color: #555;
  	  	
  	  	&:hover {
  	    	color: #222;
  	  	}
  	}
  
  	small {
    	float: left;
  	}

  	ul {
    	float: right;
    	list-style: none;
    	
    	li {
    	  	float: left;
      		margin-left: 15px;
    	}
  	}
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  smdl-layout__copan {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}

/* New Article */

.articles {
  @media only screen and (max-width: 400px) {
    width: 90%;
    padding: 0px 3px 10px 3px;
  }
  width: 70%;
  margin: auto;
  min-height: 475px;
  border: 1px solid #e3e3e3;
  padding: 0px 20px 20px 20px;
  overflow: auto;
  border-radius: 5%;
  box-shadow: 5px 5px 5px 5px 5px #888888;

  .article-form {
    width: 100%;
  }
}

/* Select tags */

#tags-header {
  font-family: 'Montserrat', sans-serif;
}

.select-tags {
  @media only screen and (max-width: 400px) {
    width: 95%;
    padding: 0px 3px 10px 3px;
  }
  width: 50%;
  margin: auto;
  padding: 3% 0%;

  .tags-column {
    width: 50%;
    float: left;
    padding-bottom: 7%;
    @media only screen and (max-width: 560px) {
      width: 100%;
      margin: auto;
    }

    .mdl-checkbox__label {
      font-family: 'Montserrat', sans-serif;
    }
  }

  .column-one {
    @media (max-width: 560px) {
      padding-bottom: 0%;
    }
  }

}