// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.demo-card-wide.mdl-card {
    width: 512px;
}
.demo-card-wide > .mdl-card__title {
    color: #fff;
    height: 176px;
    background: url('http://www.getmdl.io/assets/demos/welcome_card.jpg') center / cover;
}
.demo-card-wide > .mdl-card__menu {
    color: #fff;
}

.custom {
    max-width:1200px;
    margin-left:auto;
    margin-right:auto;
}

// test

* {
    box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
}

// body {
//     margin:0;
//     padding:0;
// }




// .content {
//     width: 100%;
//     padding: 20px;
//     //background: blue;
// }

.custom2 {
    position: fixed;
    display: none;
    width: 100%;
    
}

.custom3 {
   position:fixed;
   width: 100%;
   z-index: 10;
  	font-weight: bold;
  	float:left;
  	top: 0px;
}



.custom4 {
    position:absolute;
    margin-bottom: -60px;
    width: 100%;
}

.home_link {
    color: white;
    &:hover {
        color: white;
        text-decoration: none;
    }
}

.two {
    margin-top: 60px;
}

.alert {
    text-align: center;
    margin-left:auto;
    margin-right:auto;
    max-width: 500px;
    margin-top: 80px;
    margin-bottom: -80px;
}

.alert2 {
    padding: 15px 35px 15px 14px;
    margin-bottom: 18px;
    color: #b94a48;
    // text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    background-color: #f2dede;
    border: 1px solid #eed3d7;
    -webkit-border-radius: 4px;    
    -moz-border-radius: 4px;
    border-radius: 4px;
    height:50px;
}

.news {
    max-width: 85%;
    margin-left:auto;
    margin-right:auto;
}

.top-margin {
    padding-top: 20px;
}

.link_to {
    color: white;
}