<!--<footer class="footer">-->
<!--  <div class="bot">-->
<!--    <a href="http://www.admithero.com/"><img src="../assets/white_logotype256_720.png"></a>-->
<!--    <div class="rightfoot">-->
<!--    <p>tree</p>-->
<!--    </div>-->
<!--  </div>-->
<!--</footer>-->

<footer class="footer">
  <div class="w3-row">
  <div class="w3-half w3-container">
  <div class="logo">
    <a href="http://www.admithero.com/"><img src="http://i.imgur.com/K8uionZ.png"></a>
    <br/><br/>
  </div>
  </div>
  <div class="w3-half w3-row">
    <div class="logo2">
    <ul class="w3-third">
      <p class="foot">About Admit Hero</p>
      <p><a href="/about">About Us</a></p>
      <p><a href="/team">Team</a></p>
      <p><a href="/contact">Contact Us</a></p>
    </ul>
    <ul class="w3-third">
      <p class="foot">Get Involved</p>
      <p><a href="/content">Content Intern</a></p>
      <p><a href="#">Collaboration</a></p>
      <p><a href="#">Press Kit</a></p>
    </ul>
    <ul class="w3-third">
      <p class="foot">Join the Conversation</p>
      <a target="_blank" href="https://www.facebook.com/admithero"><img src="http://rmportal.net/social-facebook-button.png"></a>
      <a target="_blank" href="https://twitter.com/AdmitHero?lang=en"><img src="http://icons.iconarchive.com/icons/martz90/circle/256/twitter-icon.png"></a>
      <a href="#"><img src="http://icons.iconarchive.com/icons/martz90/circle/256/tumblr-icon.png"></a>
      <br/><br/>
    </ul>
  </div>
  </div>
  </div>
  </div>
</footer>

<!--<footer class="footer">-->
<!--  <div class="bot">-->
<!--  <small>-->
<!--    <a href="http://www.admithero.com/"><img src="../assets/white_logotype256_720.png"></a>-->
<!--  </small>-->
<!--  <nav>-->
<!--    <ul>-->
<!--      <p class="foot">Join the Conversation</p>-->
<!--      <a target="_blank" href="https://www.facebook.com/admithero"><img src="http://rmportal.net/social-facebook-button.png"></a>-->
<!--      <a target="_blank" href="https://twitter.com/AdmitHero?lang=en"><img src="http://icons.iconarchive.com/icons/martz90/circle/256/twitter-icon.png"></a>-->
<!--      <a href="#"><img src="http://icons.iconarchive.com/icons/martz90/circle/256/tumblr-icon.png"></a>-->
<!--    </ul>-->
<!--    <ul>-->
<!--      <p class="foot">Get Involved</p>-->
<!--      <p><a href="content">Content Intern</a></p>-->
<!--      <p><a href="#">Collaboration</a></p>-->
<!--      <p><a href="#">Press Kit</a></p>-->
<!--    </ul>-->
<!--    <ul>-->
<!--      <p class="foot">About Admit Hero</p>-->
<!--      <p><a href="about">About Us</a></p>-->
<!--      <p><a href="team">Team</a></p>-->
<!--      <p><a href="contact">Contact Us</a></p>-->
<!--    </ul>-->
<!--  </nav>-->
<!--  </div>-->
<!--</footer>-->