<footer class="footer custom">
      <small>
        <a href="http://www.admithero.com/"><img src="http://i.imgur.com/Bej3cbp.png"></a>
      </small>
      <nav> 
        <ul>
          <li><%= link_to "About", about_path %></li>
        </ul> 
      </nav>
</footer>
