<!--<footer class="footer">-->
<!--  <div class="bot">-->
<!--    <a href="http://www.admithero.com/"><img src="../assets/white_logotype256_720.png"></a>-->
<!--    <div class="rightfoot">-->
<!--    <p>tree</p>-->
<!--    </div>-->
<!--  </div>-->
<!--</footer>-->

<footer class="footer">
  <div class="bot">
  <small>
    <a href="http://www.admithero.com/"><img src="../assets/white_logotype256_720.png"></a>
  </small>
  <nav>
    <ul>
      <p class="foot">Join the Conversation</p>
      <p><a href="#">LINK</a></p>
      <p><a href="#">LINK</a></p>
      <p><a href="#">LINK</a></p>
    </ul>
    <ul>
      <p class="foot">Get Involved</p>
      <p><a href="#">LINK</a></p>
      <p><a href="#">LINK</a></p>
      <p><a href="#">LINK</a></p>
    </ul>
    <ul>
      <p class="foot">About Admit Hero</p>
      <p><a href="#">LINK</a></p>
      <p><a href="#">LINK</a></p>
      <p><a href="#">LINK</a></p>
    </ul>
  </nav>
  </div>
</footer>