<!--<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header" >-->
<!--<header class="custom2  ">-->
<!--  <div class="mdl-layout__header-row">-->
       <!--Title -->
<!--      <span class="mdl-layout-title ">Admit Hero</span>-->
       <!--Add spacer, to align navigation to the right -->
<!--      <div class="mdl-layout-spacer" ></div>-->
       <!--Navigation. We hide it in small screens. -->
<!--      <nav class="mdl-navigation mdl-layout--large-screen-only" >-->
<!--        <a class="mdl-navigation__link" href="">Link</a>-->
<!--        <a class="mdl-navigation__link" href="">Link</a>-->
<!--        <a class="mdl-navigation__link" href="">Link</a>-->
<!--        <a class="mdl-navigation__link" href="">Link</a>-->
<!--      </nav>-->
<!--    </div>-->
<!--</header>-->


<!--<header class="mdl-layout mdl-js-layout mdl-layout--fixed-header">-->
  <!--<p>test</p>-->
<!--  <div class="mdl-layout__header-row">-->
       <!--Title -->
<!--      <span class="mdl-layout-title ">Admit Hero</span>-->
       <!--Add spacer, to align navigation to the right -->
<!--      <div class="mdl-layout-spacer" ></div>-->
       <!--Navigation. We hide it in small screens. -->
<!--      <nav class="mdl-navigation mdl-layout--large-screen-only" >-->
<!--        <a class="mdl-navigation__link" href="">Link</a>-->
<!--        <a class="mdl-navigation__link" href="">Link</a>-->
<!--        <a class="mdl-navigation__link" href="">Link</a>-->
<!--        <a class="mdl-navigation__link" href="">Link</a>-->
<!--      </nav>-->
<!--    </div>-->
    
<!--</header>-->

<!--</div>-->



<!--<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header" >-->
<% if !logged_in? && current_page?(root_url) %>

<header class="custom2  mdl-js-layout mdl-layout--fixed-header" id="header">
  <div class="mdl-layout__header-row mdl-layout__header" >
    <span class="mdl-layout-title "><img src="../assets/white_logotype256_720.png"/></span>
     <!--Add spacer, to align navigation to the right -->
    <div class="mdl-layout-spacer" ></div>
    <nav class="mdl-navigation mdl-layout--large-screen-only" >
      <a class="mdl-navigation__link" id="font" href="#works">HOW IT WORKS PIT</a>
      <a class="mdl-navigation__link" id="getstarted2" href=signup>GET STARTED</a>
      <a class="mdl-navigation__link" id="font" href=login>LOGIN</a>
    </nav>
  </div>
</header>

<header class="custom4">
  <div class="mdl-layout__header-row">
    <span class="mdl-layout-title" style="color:white"><img src="../assets/white_logotype256_720.png"/></span>
     <!--Add spacer, to align navigation to the right -->
    <div class="mdl-layout-spacer" ></div>
    <nav class="mdl-navigation mdl-layout--large-screen-only" >
      <a class="mdl-navigation__link" id="font" href="#works">HOW IT WORKS</a>
      <a class="mdl-navigation__link" id="getstarted" href=signup>GET STARTED</a>
      <a class="mdl-navigation__link" id="font" href=login>LOGIN</a>
    </nav>
  </div>
</header>
  
<!--<header class="mdl-layout__transparent mdl-layout mdl-js-layout mdl-layout--fixed-header">-->
<!--  <div class="mdl-layout__header-row">-->
<!--    <span class="mdl-layout-title" style="color:white">Admit Hero</span>-->
<!--    <div class="mdl-layout-spacer" ></div>-->
<!--    <nav class="mdl-navigation mdl-layout--large-screen-only" >-->
<!--      <a class="mdl-navigation__link" href=signup>Sign Up</a>-->
<!--      <a class="mdl-navigation__link" href=about>Link</a>-->
<!--      <a class="mdl-navigation__link" href=about>Link</a>-->
<!--      <a class="mdl-navigation__link" href=about>Link</a>-->
<!--    </nav>-->
<!--  </div>-->
<!--</header>-->
  
<% else %>


<div class="custom3 mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <span class="mdl-layout-title"><a class="home_link", href='/' %><img src="../assets/white_logotype256_720.png"/></a></span>
      <% if !logged_in? %>
      <div class="mdl-layout-spacer"></div>
      <nav class="mdl-navigation mdl-layout--large-screen-only">
        <a class="mdl-navigation__link" id="font" href="/#works">HOW IT WORKS</a>
        <a class="mdl-navigation__link" id="getstarted2" href=signup>GET STARTED</a>
        <a class="mdl-navigation__link" id="font" href=login>LOGIN</a>
      </nav>
      <% else %>
        <div class="middle">
        <!--<div>-->
        <!--<div class="mdl-layout__tab-bar mdl-js-ripple-effect tabs">-->
        <!--<a href="#fixed-tab-1" class="mdl-layout__tab is-active">Tab 1</a>-->
        <!--<a href="#fixed-tab-2" class="mdl-layout__tab">Tab 2</a>-->
        <!--<a href="#fixed-tab-3" class="mdl-layout__tab">Tab 3</a>-->
        <!--</div>-->
        <!--</div>    -->
        
        <% if current_page?(scholarships_path) %>
        <nav class="mdl-navigation">
            <a class="mdl-navigation__link" id="getstarted2" href='/scholarships'>SCHOLARSHIPS</a>
            <a class="mdl-navigation__link" id="font" href='/student_profiles'>STUDENT PROFILES</a>
            <a class="mdl-navigation__link" id="font" href='/summer_programs'>SUMMER PROGRAMS</a>
            <a class="mdl-navigation__link" id="font" href='/tips_and_tricks'>TIPS AND TRICKS</a>
        </nav>
        <% end %>
        
        <% if current_page?(student_profiles_path) %>
        <nav class="mdl-navigation">
            <a class="mdl-navigation__link" id="font" href='/scholarships'>SCHOLARSHIPS</a>
            <a class="mdl-navigation__link" id="getstarted2" href='/student_profiles'>STUDENT PROFILES</a>
            <a class="mdl-navigation__link" id="font" href='/summer_programs'>SUMMER PROGRAMS</a>
            <a class="mdl-navigation__link" id="font" href='/tips_and_tricks'>TIPS AND TRICKS</a>
        </nav>
        <% end %>
        
        <% if current_page?(summer_programs_path) %>
        <nav class="mdl-navigation">
            <a class="mdl-navigation__link" id="font" href='/scholarships'>SCHOLARSHIPS</a>
            <a class="mdl-navigation__link" id="font" href='/student_profiles'>STUDENT PROFILES</a>
            <a class="mdl-navigation__link" id="getstarted2" href='/summer_programs'>SUMMER PROGRAMS</a>
            <a class="mdl-navigation__link" id="font" href='/tips_and_tricks'>TIPS AND TRICKS</a>
        </nav>
        <% end %>
        
        <% if current_page?(tips_and_tricks_path) %>
        <nav class="mdl-navigation">
            <a class="mdl-navigation__link" id="font" href='/scholarships'>SCHOLARSHIPS</a>
            <a class="mdl-navigation__link" id="font" href='/student_profiles'>STUDENT PROFILES</a>
            <a class="mdl-navigation__link" id="font" href='/summer_programs'>SUMMER PROGRAMS</a>
            <a class="mdl-navigation__link" id="getstarted2" href='/tips_and_tricks'>TIPS AND TRICKS</a>
        </nav>
        <% end %>
        
        </div>
        <%= link_to "LOGOUT", logout_path, method: "delete", class:"mdl-navigation__link", id:"font2"%>
      <% end %>
    </div>
  </header>
</div>

<% end %>

